/* .Fandoms{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    margin-top:2%;
    justify-content: center;

}
*/
.Fandom {
    /* -webkit-box-shadow: 1px 2px 3px 1px rgba(179, 176, 176, 0.699);
    -moz-box-shadow: 1px 2px 3px 1px rgba(179, 176, 176, 0.699);
    box-shadow: 1px 2px 3px 1px rgba(179, 176, 176, 0.699); */
    margin:1% 1%;
} 
/*
.ImageSection img{
    width:100%;
    height: 100%;
    display: block;
    max-height: 250px;
}

.ImageSection{
    width:40%;
    float: left;
    
}

.DataSection{
    text-align: left;
    width: 60%;
    float: left;
    max-height: 240px;
    min-height: 240px;
    margin-top: 1%;
    line-height: 1.75em;
    position: relative;
    margin-left: 15px;
}

.DataSection h3{
    font-size:1.5em; 
    line-height: 2em;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}


.DataSection p span {
    font-weight: 600;
}

.ButtonsSection{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 3%;
    width: 100%;
}
.ButtonsSection button{
    margin-right: 2%;
}

.NoImage{
    border:1px solid #3e4756;  
}
*/
.Dummy{
    visibility: hidden;
    /* height: 0!important;   */
} 

/* 
@media(min-width: 901px) and (max-width: 1200px){

    .Fandom {
        flex: 0 0 45%;
    }
}

@media(max-width: 900px){

    .Fandom {
        flex: 0 0 90%;
    }
} */

@media(max-width: 736px){
    .mobileMode{
        padding: 0!important;
    }
}

.overlay{
    position: relative;
    width: 100%;
    bottom: 40px;
    margin: 0;
    background: rgba(25, 25, 25, .5);
 }

 .overlayP{
    color: #B9B9B9;
    font-weight: bold
 }

