@import "../../style/_colors";
@import "../../style/_fonts";
@import "../../style/_varibles";

@mixin caption {
  color: $color_header;
  font-family: $font_header;
  font-weight: bold;
}
.index_page {
  // margin: 0 auto;
  // height: 80vh;
  width: 100%;

  .fandoms_dummy {
    visibility: hidden;
  }
  .index_container {
    width: 100%;
    margin: 0 auto;

    .index_container_box {
      width: 80%;
      margin: 0 auto;
      margin-top: 2%;
      min-height: 440px;
      .MuiCardContent-root {
        padding: 0;
      }
    }
    .index_container_box h3 {
      // border-bottom: 1px solid #c8c8c8;
      color: $color_header_bold;
      font-size: 1.5em;
      font-family: $font_header;
      font-weight: 700;
      // line-height: 1;
      margin-top: 1%;
      // margin: .5375em 0;
      text-align: center;
    }

    .index_section_fandoms {
      // margin: 0 auto;
      display: contents;

      .index_section_fandom {
        margin: 0 auto;
        margin-top: 1%;
        // justify-content: center;
        a {
          // display: flex;
          // align-items:center;
          // margin: 0 auto;
          width: 100%;
          // display: flex;

          // margin-left: 40%;
        }
        img {
          // margin: 0 auto;
          // vertical-align:middle;
          width: 100px;
          height: 70px;
          border-radius: 3%;
          border: 1px solid #b9b9b9;
          // margin-right: 10px;
        }
        p {
          @include overlay;
          margin: 0 auto;
          width: 100px;
          bottom: 30px;
          // margin: 0;
          // border-radius: 2%;
          // margin-left: 2%;
          @include caption;
          // font-size: 1.2em;
          // margin: 0 auto;
        }
      }
    }
  }
}

// @media only screen and (max-width: $screenSizeS) {
//     .index_page{
//         .index_container{
//             width: 100%;
//             margin: 0 auto;

//             .index_container_box{
//                 width: 80%;
//                 margin: 0 auto;
//                 margin-top: 2%;
//                 min-height: 440px;
//                 padding:0
//             }
//             .index_container_box h3{
//                 // border-bottom: 1px solid #c8c8c8;
//                 color: $color_header_bold;
//                 font-size: 1.6em;
//                 font-family: $font_header;
//                 font-weight: 700;
//                 // line-height: 1;
//                 margin-top: 1%;
//                 // margin: .5375em 0;
//                 text-align: center;
//             }

//             .index_section_fandoms{
//                 // margin: 0 auto;
//                 .index_section_fandom{
//                     margin: 0 auto;
//                     margin-top: 1%;
//                     // justify-content: center;
//                     a{
//                         display: flex;
//                         align-items:center;
//                         margin: 0 auto;
//                         width:90%;
//                         display: flex;

//                         // margin-left: 40%;
//                     }
//                     img{
//                         // margin: 0 auto;
//                         // vertical-align:middle;
//                         width: 80px;
//                         height: 80px;
//                         border-radius: 3%;
//                         // margin-right: 10px;
//                     }
//                     p {
//                         margin-left: 2%;
//                         @include caption;
//                         font-size: 1.2em;
//                         // margin: 0 auto;
//                     }
//                 }
//             }
//         }
//     }

// }
