.FormBox{
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: left
}

.Clear{
    clear: both;
}

.FormDiv{
    float: left;
    width: 48%;
    margin-top: 3%;
}

.ImageDiv{
    float: left;
    width: 30%;
    margin-left: 16%;
}

.Message{
    font-weight: 600
}