@import './style/_colors';
@import './style/_fonts';
@import './style/_varibles';


* { margin: 0;}

.header{
    font-family:  $font_header;
    color:        $color_header
}

.clear{
    clear: both;
}

.color_AO3{color:$color_AO3}
.color_FF{color:$color_FF}
.color_Backup{color:$color_Backup}
.mfl_text_bold{font-weight: bold}

button{
    color:$color_header;
}
button:disabled{
    opacity: 0.6;
}


.material-icons.md-30 { font-size: 30px; }
.material-icons.white { color: #fff; }
.material-icons.yellow { color: #fffb22; fill:#fffb22; }

@media only screen and (max-width: $screenSizeL) {
    .responsive_show{
        display: block
    }
    .responsive_hide{
        display: none
    }
}
