@import './style/_colors';
@import './style/_fonts';
@import './style/_varibles';


* { margin: 0;}

.header{
    font-family:  $font_header;
    color:        $color_header
}

.clear{
    clear: both;
}

@media only screen and (max-width: $screenSizeM) {
    .responsive_show{
        display: block
    }
    .responsive_hide{
        display: none
    }
}
