/* @import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap'); */

* { 
    margin: 0;
  }


html {
    font-family: 'Roboto', "Adobe Blank";
}

.header{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #5a5d5e;
}