
.ManageFandoms{
    /* margin: 0 auto; */
    /* width: 300px; */
    font-size: .875em;
    line-height: 1.286;
    margin: auto;
    padding: .5em 2.5em 3.5em;
    position: relative;
    min-height: 450px;
    display: block;
}

.Fandoms{
    width: 98%;
}

.Clear{
    clear: both;
}