@import '../../../style/_colors';
@import '../../../style/_fonts';
@import '../../../style/_varibles';

@mixin caption{
    color: $color_header;
    font-family: $font_header;
    font-weight: bold;
}

.MyStatistics{
    width:100%;
    margin: 0 auto; 

    .GeneralBarChart{
        margin: 0 auto;

        div{
            margin: 0 auto;
        }
    }

    .GeneralAllFandomData{       
        width:100%;
        margin: 0 auto; 
        
        > div{
            display: inline-flex;
            margin: 0 auto;
            margin-top:2%;
            margin-bottom:2%;
            width:100%;
            h4{
                width:100%;  
            }
            p{
                margin-left: 1%;
                width:100%;

                span{
                    font-weight: 500;
                    color:#000
                }
            } 
            .Finished{color: #82ca9d;}
            .InProgress{color: #8884d8;}
            .Favorite{color: #ffc658;}
            .Ignored{color: #D62728;}
            .Following{color: #1f77b4;}
        }
        // flex-direction: column;      
    }
    .StatisticsCard{
        margin: 0 auto; 
        width:44%;
        margin: 1% 1%;
        display: flex;

        .CardContent{
            width:100%;
        }
        .cardHeader{
            margin: 0 auto; 
            display: flex;
            flex-direction: column;
              
            .details{     
                margin: 0 auto;        
                a{
                    display: flex;
                    align-items:center;
                }
                a, a:visited {color: inherit;}
                img{
                    width: 45px;
                    height: 45px;
                    border-radius: 3%;
                    border: 1px solid #B9B9B9;
                    margin-right: 10px;
                }
                h5 {
                    display: inline-block;
                    @include caption;
                    
                }
            }
         }

         .cardPieChart{
             float: left;
             width:42%;
         }

         .cardData{
            height: 300px;
            display: flex;
            align-items:center;
            // float: left;
            width:57%;

            .cardDataDetails{
                width:100%;
                // margin-top: 2%;
                line-height: 1.2em;
                .cardDataDetailsTypes{
                    margin: 0 auto; 
                    // line-height: 1.2em;
                    margin-top: 10px;
                    p{
                        text-align: left;
                        font-weight: 700;
                    }
                    .cardDataDetailsLink1{
                        color:#63696D;
                        display: inline;
                        text-align: left;
                        margin-left: 7px;
                    }
                    .cardDataDetailsLink2{
                        color:#7B7F81;
                        display: block;
                    }
                }
            }
         }
        
    }
    
}

@media(max-width: $screenSizeM){
    .MyStatistics{
        .StatisticsCard{
            width:100%;
        }
    }
}
