.Left{
    float: left;
    margin:0.5% 0 0 1%;

}

.Left a{
    color: #6B0204;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.Right{
    float: right;
    margin: 0.5% 1% 0 0;
    color: #6B0204;
    font-size: 1.2em;
    font-weight: bold
}

.Clear{
    clear: both;
}