.addNewFanficManually{
    margin-top: 16px;
    margin-bottom: 8px;
    .addNewFanficManually_card{
        width: 90%;
        margin: 0 auto;
        height: 72vh;
        margin-top: 1%;
        text-align: center;

        .addNewFanficManually_file{
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
    
        .addNewFanficManually_content_form{
            margin: 0 auto;
            form{
                width:100%;
            }
            .FanficID{
                float: right;
                width: 15%;
                right: 2%;
                margin-right: 2%;
            }
            .Rating{
                float: left;
                width: 15%;
                left: 2%;
            }
            .FanficTitle{
                margin-left: -15%;
                left: 2%;
                float: left;
                width: 60%;
                margin-top:5%;              
            }
            .Author{
                margin-right: -15%;
                float: right;
                margin-top:5%;
                width: 25%;
                right: 2%;               
            }

            .FandomsTags,
            .Warnings,
            .Relationships,
            .Characters,
            .Tags{
                left: 2%;
                float: left;
                width: 94%;
            }
            .Summary{
                margin-left: 2%;
                margin-top:2%;
                // left: 2%;
                float: left;
                width: 94%;   
                height:100px;             
            }
            .Categories{
                position: relative;
                .SelectCategories{
                    margin-top:1%;
                    margin-left: 2%;
                    float: left;
                    width: 94%;
                }
                // position: absolute;
            }
            .Source,
            .PublishDate,
            .UpdateDate,
            .Language,
            .Words,
            .NumberOfChapters,
            .Complete{
                float: left;
                width: 10%;
                margin-top:calc(3% + 100px);
            }

            .Source{
                margin-left: -94%;
            }
            .PublishDate{
                margin-left: -82%;
                width:13%;
            }
            .UpdateDate{
                margin-left: -67%;
                width:13%;
            }
            .Language{
                margin-left: -52%;
            }
            .Words{
                margin-left: -40%;
                margin-top:calc(3% + 103px);
            }
            .NumberOfChapters{
                margin-left: -28%;
                width:14%;
                margin-top:calc(3% + 103px);
            }
            .Complete{
                margin-left: -12%;
                width:10%;
            }
            .Oneshot,
            .Comments,
            .Kudos,
            .Bookmarks,
            .Hits{
                float: left;
                width: 10%;
                margin-top:calc(7% + 100px);
                
            }
            .Oneshot{
                margin-left: -94%;
            }
            .Comments{
                margin-left: -82%;
                margin-top:calc(7% + 103px);
                width:13%;
            }
            .Kudos{
                margin-left: -67%;
                margin-top:calc(7% + 103px);
            }
            .Bookmarks{
                margin-left: -55%;
                margin-top:calc(7% + 103px);
                width:15%;
            }
            .Hits{
                margin-left: -38%;
                margin-top:calc(7% + 103px);
            }

            .send_button{
                float: left;
                margin-top:calc(7% + 106px);
                margin-left: -5%;
            }
        }

    }
    .addNewFanficManually_content{
        margin: 0 auto;
        display: block;  
        width: 90%;
        .GetFanficData_buttons{
            margin: 0 auto;
            margin-top: 0%;
            button{
                margin-top: 1%;
            }

        }
    }
    .doc_upload{
        margin: 0 auto;
        margin-top: 1%;
        // width:125px;
        width:100%;
        height: 100px;;
        box-shadow: none!important;
    }
    .doc_span_filename{
        color:black;
        margin-top: 0.2%;
        width:100%;
        height: 100%;
        display: block;
    }
    .card_content{
        height: auto;
    }
}