.Layout{
    font-family: 'Roboto', sans-serif;
    text-align: center;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Header{
    width: 100%;
}

.Main{
    flex: 1 1 0;
}

.Footer{
    overflow: hidden;
    max-height: 5rem;
    width:100%;
}
