@import "../../../../../../style/_colors";
@import "../../../../../../style/_fonts";
@import "../../../../../../style/_varibles";

%nav_style_font {
    font-family: $font_header;
    font-weight: 600;
}

.Login {
    button span {
        @extend %nav_style_font;
        color: $color_header;
    }
}

@media only screen and (max-width: $screenSizeM) {
    .Login button span {
        color: black;
    }
}

@media (max-width: $screenSizeS) {
    .Login button span {
        color: black;
    }
}
