.Container{
    margin: 0 auto!important;
    margin-top: 1%!important;
    margin-bottom: 1%!important;
}
.Header{
    height: 40px;     
}
.Header h3{
    font-size: 1.75em;
    line-height: 1.75em;
}

.Main{
    margin-top: 2%;
}