@import '../../../../../style/_colors';
@import '../../../../../style/_fonts';
@import '../../../../../style/_varibles';


.AddNewFanficFromFileReader{
    margin: 0 auto;

    .AddNewFanficFromFileReader_Grid{
        justify-content: center;
        button{
            margin-left : 5px;
        }
        .doc_upload{
            margin: 0 auto;
            margin-top: 1%;
            // width:125px;
            width:100%;
            height: 55px;;
            box-shadow: none!important;
        }
        .doc_span_filename{
            color:black;
            margin-top: 0.2%;
            width:100%;
            height: 100%;
            display: block;
        }
    }
}