.Filters{
    display:block;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: left
}
.Filters form{
    flex: 0 0 90%;
    -webkit-box-shadow: 1px 2px 3px 1px rgba(179, 176, 176, 0.699);
    -moz-box-shadow: 1px 2px 3px 1px rgba(179, 176, 176, 0.699);
    box-shadow: 1px 2px 3px 1px rgba(179, 176, 176, 0.699);
    margin:1% 1%;
}
.Filters p{
    display: inline-block;
    cursor: pointer;
    margin-top: 1%;
    margin-right: 15px;
    outline: none;
}
.Filters p{
    text-align: left;

    float: left;
}
.Filters button{
    width: 100%;
}

.CancelButton{
    background-color: brown
}
.CancelButton:hover{
    background-color: rgba(165, 42, 42, 0.692)    
}
/* ---------------------------------------- */
.Root{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: left
}
.FormControl{
    min-width: 120px;
}
.SortSelect{
    width: 220px;
    margin-top: 25px;
}

.FiltersFanficLabel{
    width: 220px;
    margin-top: 25px;
    color:#56647a!important;
    font-weight: 600!important;
    font-size: 1.3em!important;
}

.FiltersFanficCheckBox{
    margin-top: 10px;
}