@import '../../../style/_colors';
@import '../../../style/_fonts';
@import '../../../style/_varibles';

.addNewFanfic{
    .ChooseFandom{
        .MuiFormControl-root{
            width: 200px;
            margin: 0 auto;
        }
    }
    .addNewFanficManuallyBTN,
    .addNewFanficAutomaticBTN{        
        margin-top: 2%;
        margin-left: 1%;
    }
}