
$screenSizeXS:     400px;
$screenSizeS:     736px;
$screenSizeXM:     935px;
$screenSizeM:     1200px;
$screenSizeL:     1500px;

@mixin overlay{
    position: relative;
    width: 100%;
    bottom: 40px;
    margin: 0;
    background: rgba(25, 25, 25, .5);
    border-radius: 2%;
}

@mixin header_2{
    color: $color_header;
    font-family: $font_header;
    font-weight: bold;
}