@import '../../style/_colors';

.fanfics{
    width: 95%;

    .containerGrid{
        width: 100%;
        text-align: center;
        margin-top: 1%;
        // display: block!important;
    }

    .paginationGrid{
        width: 100%;
        margin: 0 auto;
    }
    .paginationGridButtom{
        margin-top: 1%;
    }
    .fanficNumbers{
        width: 100%;
        text-align: left;
        .total{
            color: $color_header_bold;
            font-weight: 600;
        }
        // margin-left: 0.5%;
        // margin-right: 0.5%;
        .fanficNumbersDevider{
            display: inline-block;
            width: 2px;
            background-color: $color_strong;
            margin: 0 10px;
            height: 1em;           
        }
        .small{
            width: 1px!important;
            background-color: $color_text_1!important;
        }
    }
    .root{
        margin-top: 1%;
    }
    .buttons{       
        width: 100%;
        // margin-left: 0.5%;
        // margin-right: 0.5%;
        // float: right;
        position: relative;
        button{
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 1%;
            font-size: 1.1em;
        }
    }

    .SwitchesPanel{
        // height: 35px;
        width: 100%
    }

    .main{
        width: 100%
    }
}

.filterDrewer{
    width: 300px!important;
}