.fanfics{
    width: 95%;

    .containerGrid{
        width: 100%;
        text-align: center;
        // display: block!important;
    }

    .paginationGrid{
        width: 100%;
        margin: 0 auto;
    }
    .paginationGridButtom{
        margin-top: 1%;
    }
    .fanficNumbers{
        width: 100%;
        text-align: left;
        // margin-left: 0.5%;
        // margin-right: 0.5%;
    }
    .root{
        margin-top: 1%;
    }
    .buttons{       
        width: 100%;
        // margin-left: 0.5%;
        // margin-right: 0.5%;
        // float: right;
        position: relative;
        button{
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 1%;
            font-size: 1.1em;
        }
    }

    .SwitchesPanel{
        // height: 35px;
        width: 100%
    }

    .main{
        width: 100%
    }
}

.filterDrewer{
    width: 300px!important;
}