@import '../../../../style/_colors';
@import '../../../../style/_fonts';
@import '../../../../style/_varibles';

@mixin caption{
    color: #edebe6;
    font-family: $font_header;
    font-weight: bold;
}

.root{
    flex-grow: 1;
    margin:4px!important;

    .card{
        display: flex;
        position: relative;
        transition: all 0.2s ease-in-out;
        // height: 100%;
        background-color: '#333';
        height: 500px;
        width: 400px;
        margin: 1% 1%;

        .card_image_opacity img{
            opacity: 0.4;
        }
    }

    .cardMedia{
        flex-shrink: 0;
        height: 500px;
        width: 400px;
        transition: all 0.5s ease-in-out;
    }
    .cardMedia:hover{
        transform: scale(1.1);
    }

    .header{
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        margin: 0;
        background: rgba(25, 25, 25, .3);
        padding:0px!important;
        // background: rgba(25, 25, 25, .5);
        h5,h6{
            @include caption;
            font-size: 1.2em;
            
            
        }
        h5{
            font-size: 1.1em;
        }h6{
            color: #e0dfda;
            font-size: 0.8em;
        }
    }


    .stat{
        position: absolute;
        height: auto;
        width:100%;
        margin-top: 5px;
        span{
            text-decoration: none;
            // color: #fff;
            font-weight: 900;
            display: inline-block;
            margin-bottom: 0;
            text-align: center;
            border-radius: 4px 4px 4px 4px;
            line-height: 1.2em;
            margin-left: 2%;
            padding: 0 6px 0 6px; 
            background: rgba(25, 25, 25, .3);
        }
    }

    .details{
        // display: flex;
        // flex-direction: column;
        position: absolute;
        width: 100%;
        height: auto;
        min-height: 100px;
        bottom: 0;
        // margin: 0;
        background: rgba(25, 25, 25, .5);
        // border-radius: 2%;

        .content .desc{
            width: 80%;
            margin: 0 auto;
            color: #fff;
            font-size: 0.9em;
        }

    }

    .content{
        flex: 1 0 auto;
        padding:0!important;
    }
    
    .complete{
        color: #4cae4c;
    }

    .inprogress{
        color: #0f31a1;
    }
    .oneshot{
        color: #a1510f;
    }
    .deleted{
        color: #c02b2b;
    }

    .hiatus{
        background-color: #e6d81b;
        border-color: #e6d81b;                    
    }

    .test{
        color:red;
    }
}

