.Index{
    width: 80%;
    margin: 0 auto;
}
.Box{
    float: left;
    margin: 0 1% 1.571em 1%;
    width: 48%;
    
}
.Heading{
    border-bottom: 1px solid #c8c8c8;
    color: #900;
    font-size: 1.714em;
    font-family: Georgia,serif;
    font-weight: 400;
    line-height: 1;
    margin: .5375em 0;
    text-align: left
}
