@import '../../../../style/_colors';
@import '../../../../style/_varibles';

%headers_font_style {
    font-size: 1em;
    font-weight: bold;
    color: $color_header;
    text-decoration: none;
}

.footer{
    text-overflow: ellipsis;
    background-color: $color_background;
    padding: 10px;
    .disclaimer{
        margin:0.2% 0 0 1%;   
        float: left;
    
        p{
            @extend %headers_font_style;
            text-align: left;
        }
    
        a{
            text-decoration: underline;
        }
        p span, p a{
            color: $color_header_bold
        }
    }
    
    .lastUpdateDate{
        float: right;
        margin: 0.5% 1% 0 0;
    
        p{
            @extend %headers_font_style;
            color: $color_header_bold;  
        }
    
        span{
            color: $color_header     
        }
    }
}

// @media only screen and (min-width:601px) and (max-width: 916px) {
//     .responsive_show{
//         display: block
//     }
//     .responsive_hide{
//         display: none
//     }
// }

@media only screen and (max-width: $screenSizeS) {
    .footer .disclaimer{
        float: none;
        p{
            font-size: 0.9em;
            text-align: center!important;
        }
    }
}