@import '../../../style/_colors';
@import '../../../style/_fonts';

.layout{
    font-family: $font_text;
    text-align: center;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header{
        width: 100%;
    }

    main{
        flex: 1 1 0;
    }

    footer{
        overflow: hidden;
        max-height: 5rem;
        width:100%;
    }
}

