@import '../../../../style/_colors';
@import '../../../../style/_fonts';

.index_container{
    width: 100%;
    margin: 0 auto;

    .index_container_box{
        width: 80%;
        margin: 0 auto;
        min-height: 400px;
    }
    .index_container_box h3{
        border-bottom: 1px solid #c8c8c8;
        color: $color_header_bold;
        font-size: 1.714em;
        font-family: $font_header;
        font-weight: 400;
        line-height: 1;
        margin: .5375em 0;
        text-align: left;
    }
}


