.addNewFanficManually{
    

    .addNewFanficManually_back_button_div{
        width:100%;
        margin: 0 auto;
        float:left;
        margin-bottom: 1%;
    }
    .addNewFanficManually_msgDiv{
        margin: 0 auto;
        float:left;
        margin-bottom: 1%;
    }
}

.clear{
    clear: both
}