.News{
    margin: 0 auto;
    width:70%;

    line-height: 1.6em;
    .Date{
        text-align: center;
        width: 50%;
        float: left;
    }
    .Content{
        text-align: left;
        width: 50%;
        float: left;
    }
}