.myFanficsUpdates{
    line-height: 1.4em;
    min-height: 370px;

    .link_see_all{
        // position: absolute;
        text-align: center;
        display: block;
        left:0;
        bottom: 0;
    }
}