.managedownloader{
    width: 98%;

    select{
        width:40%;
        margin: 0 auto;
    }

    .grid_buttons{
        button{
            margin-top: 3%;
            width: 50%;
            min-height: 40%
        }
    }
    .grid_code {
        // margin-top: 2%;

        div{
            width:60%;
            margin-top: 3%;
            min-height: 100%;
            background: #eee;
            color: #666;
            border-radius: 5px;
            white-space: pre;
            white-space: pre-wrap;
            word-wrap: break-word;
            // margin: 0 auto;
            font-family: monospace;
            font-size: 14px;
            overflow: auto;
            padding: 20px;
        }
    }
}