.managedownloader{
    width: 98%;

    select{
        width: 200px;
        margin: 0 auto;
    }

    .grid_buttons{
        button{
            margin-top: 50px;
            width: 200px;
            height: 100px
        }
    }
    .grid_code {
        // margin-top: 2%;

        .code_box{
            width:60%;
            margin-top: 50px;
            min-height: 350px;
            background: #eee;
            color: #666;
            border-radius: 5px;
            white-space: pre;
            white-space: pre-wrap;
            word-wrap: break-word;
            // margin: 0 auto;
            font-family: monospace;
            font-size: 14px;
            overflow: auto;
            padding: 20px;
        }
    }
}